body{
    margin: 0;
    padding: 0;
}
.navbar{
    position:relative;
    top:0;
    width:100%;
    background:rgba(30, 58 , 138 , 0.95);
    backdrop-filter:blur(10px);
    z-index:1000;
    transition: all 0,3s ease;
    padding: 1rem 0;

}
.nav-container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-logo{
    display: flex;
    align-items:center;
    color:green;
    font: size 1srem;
    font-weight: 700;
    text-decoration:none;
    margin-right: 10px;
    font-size:2rem;
    height:30px;
}

.nav-logo img{
    margin-top:-15px;
    width:60px;
    height: 60px;
    border-radius:50%;
}

.nav-menu{
    display: flex;
    list-style:none;
    gap:2rem;
}

.nav-link{
    color:white;
    text-decoration: none;
    font-weight: 500;
    transition:color 0.3s ease;
    position:realtive;
}

.nav-link:hover{
    color:aqua;
    
}
.nav-span{
    color: white;
    margin-left: 20px;
} 